.closeButton {
    display: flex;
    justify-content: flex-end;
    padding: 5px;
    margin-bottom: 20px;
}

.modalTitle {
    text-align: center;
    padding: 15px;
}

.formStyle {
    width: 60%;
    height: 60%;
    display: flex;
    justify-content: space-around;
    margin: auto;
    flex-direction: column;
}

.formFieldStyle {
    margin: 15px;
}

.validationButtonsStyle {
    justify-content: space-around;
    display: flex;
    margin-top: 10px;
}