.modalInputTitle {
    padding: 35px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.openingTaskHeader {
    display: flex;
    justify-content: space-between;
    font-weight: 100;
    padding: 15px;
}

.closeIconImage {
    width: 36px;
}

.tasksTypesSelectStyle {
    width: 25%;
    padding: 15px;
}

.selectStyle {
    min-width: 200px;
}

.descriptionHeader {
    padding: 15px;
}

.openingTaskModalDescription {
    font-size: 1.5rem;
    height: 200px;
    padding: 20px;
    text-align: center;
}

.buttonsSaveCancel {
  text-align: center;
  padding: 2px;
}
